<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>提醒事项</h1>
        </div>
        
        <div class="reminders-list">
            <div class="reminder-item">
                <!-- <div class="checkbox checked"></div>
                <div class="reminder-text completed" id="0">示例事项</div> -->
            </div>
        </div>
        
        <div class="add-reminder">
            <input type="text" placeholder="新增提醒事项..." id="newReminder">
            <button id="addReminder">添加</button>
        </div>
    </div>

    <script type="module" src="../static/main.js"></script>
    <script type="module" src="../static/netask.js"></script>
</body>
</html>